<div class="direct_message">
  <p><%= direct_message.content %></p>
</div>

<p class="<%= direct_message.id %>" style= "color: white; margin-top: 0;">
  <%# <%= attachment_image_tag direct_message.user, :profile_image, fallback: "no_image.jpg", class:"profile-img-circle", size: "40x40" %> %>
  <%= direct_message.user.name %>
</p>
<p class="<%= direct_message.id %>">
  <span class="balloon1-top">
    <h6 class="dm_content"><%= direct_message.content %></h6><br>
    <h6><%= direct_message.created_at.strftime("%Y/%m/%d %H:%M") %></h6>
  </span>
</p><br>
