<%= render './shared/header' %>

<h2>メッセージ一覧</h2>

<% @anotherEntries.each do |e| %>

<table class="table table-striped">
  <tr>
    <td>
      <!-- 名前からroomの詳細に飛べるようにリンク化 -->
      <%= link_to room_path(e.room.id) do %>
        <%= attachment_image_tag e.user, :image, format: 'jpeg', class: "rounded-circle", fallback: "no_image.jpeg", size: "30x30" %>
        <%= "@#{e.user.name}" %>
      <% end %>
    </td>
    <td>
      <!-- 最新メッセージ内容の最初の7文字を表示する -->
      <%# <% dm = DirectMessage.find_by(id: e.room.direct_message_ids.last).content  %>
      <%# <%= truncate(@dm, length: 10) %>
      <%# <%= e.content %> 
      <%# <%= @direct_messages.content %>
    </td>
    <td>
      <h6><%= e.updated_at.strftime("%m/%d %H:%M") %></h6>
    </td>
    <td>
      <!-- ゴミ箱アイコンクリックでroomを消せるようにする -->
      <%= link_to room_path(e.room.id), method: :delete do %>
        <%= fa_icon 'trash 2x' %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>