<%= render 'shared/header' %>
<div class='main'>
  <div class='leftmain'>
    <%= render 'shared/welcom' %>
  </div>

  <div class='rigtmain'>
    <% if user_signed_in? %>
      <%= render template: 'users/index' %>
      <% else %>
      <%= render 'shared/subbar'%>
      <%# <%= render 'users/show' %> 
    <% end %>
  </div>
</div>