<h1><%= @room.name %></h1>
<h4>参加者</h4>
<% @entries.each do |e| %>
  <%= link_to "@#{e.user.name}", user_path(e.user_id) %>
  <br />
<% end %>

<h1>Chat room</h1>

<div id="direct_messages" data-room_id="<%= @room.id %>">
  <%= render @direct_messages %>
</div>

<form>
  <%# <label> 新しいメッセージ:</label><br /> %>
  <input type="text" id="chat-input" data-behavior="room_speaker" class='form' placeholder='メッセージを入力'>
</form>

<%= link_to "メッセージ一覧に戻る", rooms_path, class: 'user_link' %>

<%= link_to "ユーザー一覧に戻る", users_path, class: 'user_link' %>
